<!DOCTYPE html>
<html>
<head>
 
  <meta name="viewport" content="width=device-width">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   

		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>
    
 <div class="top_line ">  </div>  
  
    <div class="overlay open">
			<nav>
				<ul>
					<li><a href="#about"><i class="fa fa-question-circle"></i>ask</a></li>
					<li><a href="\"><i class="fa fa-vk"></i>vkontakte</a></li>
			
					<li><a href="<%= inst_index_path %>"><i class="fa fa-instagram"></i>instagramm</a></li>
				
				<% if @current_user %>
					<li><a href="\settings"><i class="fa fa-gear"></i>settings</a></li>
				<% else %>
					<li><a href="#download" class="s_enter"><i class="fa fa-arrow-circle-right"></i>enter</a></li>
				<% end %>
				</ul>
			</nav>
	</div>	
	
<div class="wide_logo">


	<%= render 'sochi/menu' %>
	
	
</div> 	    
			    
			    
<div style="clear:both"> </div>
  
<%= render 'sochi/s_login_form' %>
<%= render 'inst/inst_form' if @inst %>
  
 
  
     
   
  
<div class="main"> 


    <%= render "application/new_post_form" %>



    
    
    
  <div class="yield"> 

<div class="new">
    
     </div>   
   

  
<%= yield %>

  </div>
   </div> 
  

  
  
</body>
</html>
